.ticket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px 8px 20px;
  border: 1px solid #dddfe5;
  background: white;
  font-size: 12px;
  font-weight: 600;
}
.left {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #1677ff;
  }
}
.right {
  display: flex;
  gap: 8px;
  align-items: center;
}
